{% extends "base.html" %}
{% block content %}
<div class="container text-center pt-5" style="padding-top: 80px;">
    <h1 style="margin-bottom: 30px;color: rgb(223, 241, 204);">Welcome to ParkEZ !!</h1>
    <h4 style="margin-bottom: 30px;color: rgb(195, 238, 201) ;">we offer one stop solution for all your parking needs</h4>
    <a href="{{ url_for('register') }}" class="btn btn-primary m-2">Register</a>
    <a href="{{ url_for('login') }}" class="btn btn-success m-2">Login</a>
</div>
{% endblock %}